<html lang="en">
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />  
    <link rel="stylesheet" type="text/css" href="/css/partials.css" />  

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <title>Edit Profile</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script>
</head>

    <body>
        <%- include('./partials/header.ejs') %>
        <div class="edit content">
            <form action="/profiles/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Login Fields:</br>
                    <input type="text" name="username" value="<%= locals.username %>" required>
                    <input type="text" name="destination" value="<%= locals.destination %>" required>
                    <input type="text" name="hobbies" value="<%= locals.hobbies %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
  
</html>